USE [SevenSuite_TaskDB]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 03/04/2026 16:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaritalStatuses]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatuses](
	[IdMaritalStatus] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMaritalStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[IdProject] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](150) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IdUserOwner] [int] NOT NULL,
	[Status] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskComments]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskComments](
	[IdComment] [int] IDENTITY(1,1) NOT NULL,
	[IdTask] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[CommentText] [text] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[IdTask] [int] IDENTITY(1,1) NOT NULL,
	[IdProject] [int] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Description] [text] NULL,
	[IdAssignedUser] [int] NOT NULL,
	[Status] [varchar](20) NULL,
	[Priority] [varchar](20) NULL,
	[DueDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[IdGender] [int] NULL,
	[BirthDate] [date] NOT NULL,
	[IdMaritalStatus] [int] NULL,
	[IdRol] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('Pendiente') FOR [Status]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TaskComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('Pendiente') FOR [Status]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('Media') FOR [Priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users] FOREIGN KEY([IdUserOwner])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD FOREIGN KEY([IdTask])
REFERENCES [dbo].[Tasks] ([IdTask])
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([IdAssignedUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([IdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IdGender])
REFERENCES [dbo].[Genders] ([IdGender])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IdMaritalStatus])
REFERENCES [dbo].[MaritalStatuses] ([IdMaritalStatus])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTaskComment]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddTaskComment]
    @IdTask INT,
    @IdUser INT,
    @CommentText TEXT -- Asegúrate que en la DAL mandas @CommentText
AS
BEGIN
    INSERT INTO TaskComments (IdTask, IdUser, CommentText, CreatedAt)
    VALUES (@IdTask, @IdUser, @CommentText, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- AUTHENTICATION
CREATE PROCEDURE [dbo].[sp_AuthenticateUser]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdUser, FirstName, LastName, IdRol FROM Users 
    WHERE Username = @Username AND Password = @Password AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCommentsByTask]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCommentsByTask]
    @IdTask INT
AS
BEGIN
    SELECT 
        c.IdComment,
        u.FirstName + ' ' + u.LastName as Author, -- Para que matche con la entidad
        c.CommentText,
        c.CreatedAt
    FROM TaskComments c
    INNER JOIN Users u ON c.IdUser = u.IdUser
    WHERE c.IdTask = @IdTask
    ORDER BY c.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormCatalogs]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CATALOGS FOR UI
CREATE PROCEDURE [dbo].[sp_GetFormCatalogs]
AS
BEGIN
    SELECT IdGender as Id, Description FROM Genders;
    SELECT IdMaritalStatus as Id, Description FROM MaritalStatuses;
    SELECT IdRol as Id, Description FROM Roles;
    SELECT IdUser as Id, FirstName + ' ' + LastName as Description FROM Users WHERE IsActive = 1;
    SELECT IdProject as Id, Name as Description FROM Projects WHERE IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProjectById]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetProjectById] 
    @Id INT 
AS 
BEGIN 
    SELECT * FROM Projects WHERE IdProject = @Id 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProjects]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProjects]
    @Filter VARCHAR(150) = ''
AS
BEGIN
    SELECT 
        P.IdProject,
        P.ProjectName,
        P.Description,
        P.StartDate,
        P.EndDate,
        P.Status,
        P.IdUserOwner,
        (U.FirstName + ' ' + U.LastName) AS OwnerName,
        P.IsActive
    FROM Projects P
    LEFT JOIN Users U ON P.IdUserOwner = U.IdUser
    WHERE (P.ProjectName LIKE '%' + @Filter + '%' OR P.Description LIKE '%' + @Filter + '%')
    -- QUITAMOS el filtro de IsActive = 1 para que aparezcan todos
    ORDER BY P.IsActive DESC, P.IdProject DESC -- Los activos primero
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTaskById]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTaskById] @Id INT AS BEGIN SELECT * FROM Tasks WHERE IdTask = @Id END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTasks]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. LISTADO DE TAREAS (Arregla el error de la imagen 265745)
CREATE PROCEDURE [dbo].[sp_GetTasks]
    @ProjectId INT = NULL,
    @Filter VARCHAR(100) = NULL
AS
BEGIN
    SELECT T.IdTask, T.IdProject, P.ProjectName, T.Title, T.Description, 
           T.IdAssignedUser, (U.FirstName + ' ' + U.LastName) as AssignedTo,
           T.Status, T.DueDate, T.IsActive
    FROM Tasks T
    LEFT JOIN Projects P ON T.IdProject = P.IdProject
    LEFT JOIN Users U ON T.IdAssignedUser = U.IdUser
    WHERE (@ProjectId IS NULL OR T.IdProject = @ProjectId)
    AND (@Filter IS NULL OR T.Title LIKE '%' + @Filter + '%')
    AND T.IsActive = 1
    ORDER BY T.DueDate ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserById] @Id INT AS BEGIN SELECT * FROM Users WHERE IdUser = @Id END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsers]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUsers]
    @Filter VARCHAR(100) = ''
AS
BEGIN
    SELECT 
        U.IdUser, 
        U.FirstName, 
        U.LastName, 
        U.DNI,
        R.Description AS RoleDesc,   
        G.Description AS GenderDesc,
        U.IsActive  -- Necesitamos esto en el Frontend
    FROM Users U
    INNER JOIN Roles R ON U.IdRol = R.IdRol 
    INNER JOIN Genders G ON U.IdGender = G.IdGender
    WHERE (U.FirstName + ' ' + U.LastName + U.DNI) LIKE '%' + @Filter + '%'
    ORDER BY U.IsActive DESC -- Los activos primero
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertProject]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertProject]
    @IdProject INT,
    @ProjectName VARCHAR(150),
    @Description TEXT,
    @StartDate DATE,
    @EndDate DATE,
    @IdUserOwner INT,
    @Status VARCHAR(20)
AS
BEGIN
    IF @IdProject = 0
    BEGIN
        -- INSERT: Nuevo Proyecto
        INSERT INTO Projects (ProjectName, Description, StartDate, EndDate, IdUserOwner, Status, IsActive)
        VALUES (@ProjectName, @Description, @StartDate, @EndDate, @IdUserOwner, @Status, 1)
    END
    ELSE
    BEGIN
        -- UPDATE: Editar Proyecto existente
        UPDATE Projects SET 
            ProjectName = @ProjectName,
            Description = @Description,
            StartDate = @StartDate,
            EndDate = @EndDate,
            IdUserOwner = @IdUserOwner,
            Status = @Status
        WHERE IdProject = @IdProject
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTask]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertTask]
    @IdTask INT = 0,
    @IdProject INT,
    @Title VARCHAR(150),
    @Description TEXT,
    @IdAssignedUser INT,
    @Status VARCHAR(20),
    @Priority VARCHAR(20),
    @DueDate DATE
AS
BEGIN
    IF @IdTask = 0
    BEGIN
        INSERT INTO Tasks (IdProject, Title, Description, IdAssignedUser, Status, Priority, DueDate, IsActive)
        VALUES (@IdProject, @Title, @Description, @IdAssignedUser, @Status, @Priority, @DueDate, 1)
    END
    ELSE
    BEGIN
        UPDATE Tasks SET 
            IdProject = @IdProject,
            Title = @Title,
            Description = @Description,
            IdAssignedUser = @IdAssignedUser,
            Status = @Status,
            Priority = @Priority,
            DueDate = @DueDate
        WHERE IdTask = @IdTask
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertUser]    Script Date: 03/04/2026 16:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertUser]
    @IdUser INT,
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @DNI VARCHAR(20),
    @BirthDate DATE,
    @IdGender INT,
    @IdMaritalStatus INT,
    @IdRol INT,
    @Username VARCHAR(50),
    @Password VARCHAR(255) = NULL -- Permitir nulos
AS
BEGIN
    IF @IdUser = 0
    BEGIN
        INSERT INTO Users (FirstName, LastName, DNI, BirthDate, IdGender, IdMaritalStatus, IdRol, Username, Password, IsActive)
        VALUES (@FirstName, @LastName, @DNI, @BirthDate, @IdGender, @IdMaritalStatus, @IdRol, @Username, @Password, 1)
    END
    ELSE
    BEGIN
        UPDATE Users SET
            FirstName = @FirstName,
            LastName = @LastName,
            DNI = @DNI,
            BirthDate = @BirthDate,
            IdGender = @IdGender,
            IdMaritalStatus = @IdMaritalStatus,
            IdRol = @IdRol,
            Username = @Username,
            -- SOLO ACTUALIZA LA CONTRASEÑA SI NO ES NULA
            Password = ISNULL(@Password, Password) 
        WHERE IdUser = @IdUser
    END
END
GO
