body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

    .login-card h2 {
        color: #333;
        margin-bottom: 25px;
    }

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        display: block;
        font-size: 14px;
        color: #666;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box; /* Importante para que el padding no ensanche el input */
    }

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

#errorMessage {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
/* Esto obliga al calendario a salir siempre al frente */
.ui-datepicker {
    z-index: 9999 !important;
}

/* Arreglo para que los selectores de mes/año no se vean blancos o amontonados */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    color: #333 !important;
    display: inline-block !important;
    width: 45% !important;
    margin: 0 2px !important;
}


@media print {
    .no-print {
        display: none;
    }
    /* Para botones que no quieras que salgan en papel */
    body {
        background-color: white !important;
    }

    .table {
        width: 100% !important;
        border-collapse: collapse;
    }
}